# Residence Reccommender 
*CS524 Intro to Optimization, 18 December 2021*

Puqian Wang & Sonia Cromp

## Introduction
This is our project about apartments. Here is how we got the idea and why it's useful.

## Setup and Data Generation
We begin with preparing the "standard" dataset - more datasets will be used later in the analysis

In [1]:
import pandas as pd
%load_ext gams_magic

### Resident data
Specify custom data parameters here

In [2]:
%%gams
set slot /t1*t5/;
# DO NOT EDIT ABOVE HERE
# number of residents
$set num_res 30
# stochastisity settings

# beds, baths distribution
# budget
# commute method and time

# DO NOT EDIT BELOW HERE
set r /1*%num_res%/;

In [3]:
%%gams
set labels /'nbed', 'nbath', 'budget', 'com_m', 'com_t'/;

parameter res(r, labels);

****************************************************
parameter rank_1(r, labels), rank(r, labels);

alias(labels, l);

parameter normalize(r);

loop(r,
rank_1(r, labels) = uniform(0,1);
normalize(r) = sum(labels, rank_1(r, labels));
);
rank(r, labels) = rank_1(r, labels)/normalize(r);

****************************************************

parameter beds;
loop(r,
    beds = normal(2,1);
    if(beds>0,
        res(r, 'nbed') = ceil(beds);
    else
        res(r, 'nbed') = 0;
    );
);

res(r, 'nbath') $ (res(r, 'nbed')>0)= floor(uniform(1, res(r, 'nbed')));
res(r, 'nbath') $ (res(r, 'nbed')=0) = 1;

parameter budgets;
loop(r,
    budgets = normal(1200,200);
    res(r, 'budget') = budgets $ (budgets>=500) + 500 $ (budgets<500);
);

*parameter com_m(r);
*com_m(r) = floor(uniform(1,4))

*$onText

res(r, 'com_m')  = floor(uniform(1,4));
res(r, 'com_m')  $ (res(r, 'com_m')=4) = 3

parameter time_slot(slot)
/t1 5,
 t2 10,
 t3 15,
 t4 20,
 t5 25/;

parameters com_time_prim, com_time;
loop(r,
com_time_prim = floor(normal(15, 5));
com_time $ (com_time_prim<time_slot('t1')) = 1;
com_time $ (com_time_prim>=time_slot('t1') and com_time_prim<time_slot('t2')) = 2;
com_time $ (com_time_prim>=time_slot('t2') and com_time_prim<time_slot('t3')) = 3;
com_time $ (com_time_prim>=time_slot('t3') and com_time_prim<time_slot('t4')) = 4;
com_time $ (com_time_prim>=time_slot('t5') and com_time_prim<time_slot('t5')) = 5;
com_time $ (com_time_prim>=time_slot('t5')) = 6;
res(r, 'com_t') = com_time;
)
*$offText

display res, rank, normalize;

execute_unload 'large_data' labels=headr, r = index, res=data;
execute_unload 'rank' labels=headr, r=index, rank=data;

In [4]:
%gams_pull -d res
%gams_pull -d rank

In [5]:
print(res.shape, rank.shape)
res.head()

(150, 3) (150, 3)

   r  labels        value
0  1    nbed          3.0
1  1   nbath          2.0
2  1  budget  1352.722697
3  1   com_m          1.0
4  1   com_t          4.0

In [6]:
rank.head()

   r  labels     value
0  1    nbed  0.079559
1  1   nbath  0.390629
2  1  budget  0.254952
3  1   com_m  0.139497
4  1   com_t  0.135362

In [7]:
# !wget https://www2.census.gov/geo/tiger/TIGER2019/COUSUB/tl_2019_55_cousub.zip
# !unzip tl_2019_55_cousub.zip

### Apartments data
Because gathering real apartments required some API calls where a credit card is required to sign up and will be charged upon exceeding the quota, this code is commented out and will not work without an API key. However, it is included so as to show how all the data was gathered.

First, gather the apartments themselves

In [8]:
# import requests
# url = "https://zillow-com1.p.rapidapi.com/propertyExtendedSearch"
# headers = {
#     'x-rapidapi-host': "zillow-com1.p.rapidapi.com",
#     'x-rapidapi-key': "" # enter your api key here
#     }

# text = []
# for place in ['fitchburg', 'madison', 'middleton', 'sun prarie', 'verona']:
#     querystring = {"location":f"{place}, wi","home_type":"Condos,Apartments"}
#     response = requests.request("GET", url, headers=headers, params=querystring) # comes back in odd format that isn't quite JSON
#     text.append(response.text)

Second, determine the travel/commute time from each apartment to the CS building by walking, biking and driving

In [9]:
# import json
# import os
# import re

# allapts = []
# dest = '1210 W Dayton St Madison WI 53706'
# api_key = '' # enter your api key here
# url ='https://maps.googleapis.com/maps/api/distancematrix/json?'

# def gettime(source, dest, key, method='driving'):
#     source = re.sub('#', 'unit ', source)
#     # return response object
#     r = requests.get(url + 'origins=' + source +
#                     '&destinations=' + dest +
#                     '&mode=' + method +
#                     '&key=' + api_key)
#     # json method of response object
#     # return json format result
#     return r.json()

In [10]:
# for s in text:
#     # Convert from "almost" JSON to an actual JSON format
#     s = re.sub(f'\[?\d+ items', '', s)
#     s = re.sub(f'(?<=[L\"\de])\n(?!}})', ',\n', s)
#     s = re.sub(f'NULL', '-1', s)
#     s = re.sub(f'(\d+):', '\"\g<1>\":', s)
#     s = re.sub(f"\"props\":\n", '', s)
#     s = re.sub('}', '},', s)
#     s= re.sub(f'\n]\n', f'\n', s)
#     s = s.strip()[:-1] #since an extra comma is at the end

#     contents = json.loads(s)
#     contents.pop('resultsPerPage')
#     contents.pop('totalResultCount')
#     contents.pop('totalPages')

#     df = pd.DataFrame(contents).T
#     df.drop(['listingDateTime', 'listingStatus', 'zpid', 'lotAreaUnit', 'daysOnZillow', 'country', 'currency'], axis=1, inplace=True)

#     source = df['address'].to_list()

#     for m in ['driving', 'walking', 'bicycling']:
#         results = []
#         for i in range(len(source)//25): # API only can process 25 apartments at a time
#             subsource = source[25*i : 25*(i+1)]
#             print(len(subsource))
#             subsourcestr = '|'.join(subsource)
#             r = gettime(subsourcestr, dest, api_key, m)
#             results.append(r)

#         subsource = source[25*(len(source)//25) : ]
#         print(len(subsource))
#         subsourcestr = '|'.join(subsource)
#         r = gettime(subsourcestr, dest, api_key, m)
#         results.append(r)

#         seconds = []
#         for r in results:
#             for e in r['rows']:
#                 seconds.append(e['elements'][0]['duration']['value'])
#         df[m] = seconds
#         df[m] = (df[m]/60).astype(int)

#     df['price'] = df['price']/100
#     allapts.append(df)

# df = pd.concat(allapts)

# df.columns = ['nbath', 'propertyType', 'lotAreaValue', 'address', 'imgSrc', 'budget', 'longitude', 'latitude',
#                     'nbed', 'livingArea', 'hasImage', 'car', 'walk', 'bike']
# df.head()
# df.to_csv('apartments.csv', index=False) # save info

In [11]:
apartments = pd.read_csv('apartments.csv')
apt_data = apartments.drop(['propertyType', 'lotAreaValue', 'address', 'imgSrc', 'longitude', 'latitude',
                'livingArea', 'hasImage'], axis=1)
apt_data['a'] = apt_data.index+1
apt_data = apt_data[['a', 'nbed', 'nbath', 'budget', 'car', 'walk', 'bike']]
apt_data.columns = ['a', 'nbed', 'nbath', 'budget', 'm1', 'm2', 'm3']
# apt_data.drop(['m1', 'm2', 'm3'], axis=1, inplace=True)
apt_data['budget'] = apt_data['budget'].astype(int)
apt_data.set_index('a', inplace=True)
apt_data.head()

   nbed  nbath  budget  m1   m2  m3
a
1     2      2    1700  27  276  78
2     2      2    1980  29  301  83
3     2      2    1960  29  301  83
4     2      2    2100  27  299  88
5     1      1    1850  28  299  88

In [12]:
apt_data.to_csv('apartments_formatted.csv', index=False)

# Primary model
model and data description

residence data:
1. desired nbed, nbath, budget, com_m, com_t
2. nbed = 0 if the resident requires a studio

details:
1. com_t is an integer between 1-5, where 1-> t<5, 2-> 5<=t<10, ... 5-> t>25;
2. com_m is an integer between 1-3, where 1-> drive, 2-> walk, 3-> bike;
3. budget generated by normal distribution, mean=1200, delta=200;
4. extracted from gdx files: small_data, medium_data, large_data;
5. headr: /'nbed', 'nbath', 'budget', 'com_m', 'com_t'/
6. data: data(small/medium/large, headr);
7. small=30, medium=60, large=100;
8. need to figure out ranking -- currently a rand number form uniform(0,1) assigned to each label;

apartments data:
1. should have the same headr;
2. about commute methods: m1 for driving, m2 for walking, m3 for biking.

In [21]:
%%gams
set headr(*);
set r /1*30/;
set a /a1*a63/;

parameter pairs;
pairs = min(card(r), card(a));

$call csv2gdx apartments_formatted.csv id=Data autoRow=a values=1..lastCol useHeader=y

set apt_headr(*);
parameter apt_data(a, headr);


$gdxin apartments_new.gdx
$load headr=Dim2
$load apt_data=Data
$gdxin
display apt_data;

In [22]:
%%gams

**********************************************************
$onText
notes on the normalization of budgets/prices:

* for residents, since we know the budget is generated from norm(1200,200), we simply scale it by 600, hence the mean would be 2;
* for apartment prices, we scale it by 600 too.

$offtext
scalar budget_mean "the mean value of the budget, get it from residents_data" /1200/;
* normalize the budget with mean value 2
res(r, 'budget') = 2*res(r, 'budget')/budget_mean;

parameter aptprice(a);
apt_data(a,'budget') = 2*apt_data(a,'budget')/budget_mean;

# display apt_data;
***********************************************************

display res, rank;

set m "m1:drive, m2:walk, m3: drive" /m1*m3/;

parameter apt_com_t(a, m);

$gdxin apartments_formatted.gdx
$load apt_com_t=Data
$gdxin

display apt_data,apt_com_t;

********************** Format data **********************

set r_method(r,m) "include a (resident i, commute method j) pair in a set only if j is the preferred commute method of i";
r_method(r,m) = no;
r_method(r,m) $ (ord(m)=res(r,'com_m')) = yes;

parameter apt_com_t_nm(a,m) "binned commute time - put each commute time into 5-minute interval bins";

set slot /t1*t5/;
parameter time_slot(slot)
/t1 5,
 t2 10,
 t3 15,
 t4 20,
 t5 25/;

apt_com_t_nm(a,m) $ (apt_com_t(a, m)<time_slot('t1')) = 1;
apt_com_t_nm(a,m) $ (apt_com_t(a, m)>=time_slot('t1') and apt_com_t(a, m)<time_slot('t2')) = 2;
apt_com_t_nm(a,m) $ (apt_com_t(a, m)>=time_slot('t2') and apt_com_t(a, m)<time_slot('t3')) = 3;
apt_com_t_nm(a,m) $ (apt_com_t(a, m)>=time_slot('t3') and apt_com_t(a, m)<time_slot('t4')) = 4;
apt_com_t_nm(a,m) $ (apt_com_t(a, m)>=time_slot('t4') and apt_com_t(a, m)<time_slot('t5')) = 5;
apt_com_t_nm(a,m) $ (apt_com_t(a, m)>time_slot('t5')) = 6;

parameter
abs_diff(r,a,headr) "absolute difference between apartment a and and resident r",
abs_diff_cmt(r,a) "absolute difference of commute time between apartment a and resident r";

abs_diff(r,a,'nbed') = abs(apt_data(a, 'nbed')-res(r, 'nbed'));
abs_diff(r,a,'nbath') = abs(apt_data(a, 'nbath')-res(r, 'nbath'));
abs_diff(r,a,'budget') = abs(apt_data(a, 'budget')-res(r, 'budget'));
# abs_diff(r,a,'com_m') = res(r, 'com_m');
# abs_diff(r,a,'com_t') = res(r, 'com_t');
abs_diff_cmt(r,a) = abs(sum(m $ r_method(r,m), apt_com_t_nm(a,m)) -res(r,'com_t'));

display apt_data, abs_diff, abs_diff_cmt;

********************** Model **********************

free variable dis "dissatisfication";

variable rdis(r);

positive variables z(r,a,headr), zm(r,a);

Binary Variable
        b(r,a) "b(r,a)=1 if assign resident r to apartment i"
        d(r,m) "d(r, m)=1 if resident r choose method m";

equations
        obj, calcdis(r),
        bound_1(r) "each apartment gets at most one resident", 
        bound_2(a) "each resident gets at most one apartment", 
        bound_3 "count the number of residents assigned apartments";

obj..
dis =e= 1/card(r)* sum(r, rdis(r));

calcdis(r)..
rdis(r) =e= sum(a, b(r,a) * (rank(r, 'nbed')*abs_diff(r,a,'nbed') + rank(r, 'nbath')*abs_diff(r,a,'nbath') + rank(r, 'budget')*abs_diff(r,a,'budget')))
        + sum(a, b(r,a) * rank(r,'com_t') * abs_diff_cmt(r,a));
* second line is dissatisfaction with commute, first line is dissatisfaction with everything else

bound_1(r)..
sum(a, b(r,a)) =l= 1;

bound_2(a)..
sum(r, b(r,a)) =l= 1;

bound_3..
sum((r,a), b(r,a)) =e= pairs;

model primary_model /obj+calcdis+bound_1+bound_2+bound_3/;
solve primary_model using mip minimizing dis;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),0.9275,125,1921,MIP,CPLEX,0.146

Visualize, discuss

In [16]:
# %gams_lst

# Stochastic tradeoff model

In [20]:
%%gams 
alias(r2,r);
parameter lambda "priority between minimizing average dissatisfaction and max dissatisfaction" /0.4/;

free variables 
        avgdis "total dissatisfication",
        maxdis "dissatisfaction of most dissatisfied resident",
        cdis "combined dissatisfaction from average dissatisfaction and the most dissatisfied resident";
    
positive variables disAON(r) "dissatisfaction all or nothing - equals dis(r) if r is most dissatisfied resident and 0 otherwise";

binary variables
        isMax(r) "is the resident who is most dissatisfied",
        isntMax(r) "isnt the resident who is most dissatisfied",
        worse(r,r2) "only able to be 1 if r is at least as dissatisfied as r2",
        better(r, r2) "must be 1 if r is less dissatisfied (=more satisfied) than r2";

equations
        calcavgdis "average dissatisfaction",
        calcmaxdis "dissatisfaction of most dissatisfied resident",
        findbetter(r,r2) "determine if r is happier than r2",
        findworse(r, r2) "if r is less happy from r2",
        calcIsntmax(r) "determine if r can potentially be the most dissatisfied resident",
        calcIsmax(r) "determine if r will be selected as most dissatisfied",
        mostdissed "choose only one resident as the most dissatisfied",
        disaon_lolim1(r) "disAON is 0 if r isnt most dissatisfied",
        disaon_lolim2(r) "disAON isnt greater than dis(r)",
        disaon_hilim(r) "disAON is dis(r) if r is most dissatisfied";

In [19]:
%gams_lst

GAMS 36.2.0  r433180e Released Sep  3, 2021 DEX-DEG x86 64bit/Mac OS X - 12/17/21 01:59:28 Page 15
G e n e r a l   A l g e b r a i c   M o d e l i n g   S y s t e m
C o m p i l a t i o n


 238  parameter
 239          lambda "priority between minimizing average dissatisfaction and max dissatisfaction" /0.4/;
 240
 241  free variables
 242          avgdis "total dissatisfication",
 243          maxdis "dissatisfaction of most dissatisfied resident",
 244          cdis "combined dissatisfaction from average dissatisfaction and the most dissatisfied resident";
 245
 246  positive variables disAON(r) "dissatisfaction all or nothing - equals dis(r) if r is most dissatisfied resident and 0 otherwise";
 247
 248  binary variables
 249          isMax(r) "is the resident who is most dissatisfied",
 250          isntMax(r) "isnt the resident who is most dissatisfied",
 251          worse(r,r2) "only able to be 1 if r is at least as dissatisfied as r2",
****                   $120
**** LINE     16 INPUT       /Users/snc/Documents/skola/optimization/proj/apartment-optimization/gamsJupyter7.gms
**** 120  Unknown identifier entered as set
 252          better(r, r2) "must be 1 if r is less dissatisfied (=more satisfied) than r2";

**** LIST OF STRAY NAMES - CHECK DECLARATIONS FOR SPURIOUS COMMAS
**** STRAY NAME worse OF TYPE VAR

**** 1 ERROR(S)   0 WARNING(S)


COMPILATION TIME     =        0.002 SECONDS      3 MB  36.2.0 r433180e DEX-DEG


USER: Introduction to Optimization (CS/ISyE/ECE 524) G210907|0002AS-GEN
      UW-Madison, CS Dept., Fall 2021, Prof. Ferris              DCE850
      License for teaching and research at degree granting institutions


**** FILE SUMMARY

Restart    /Users/snc/Documents/skola/optimization/proj/apartment-optimization/_gams_py_gcp0.g00
Input      /Users/snc/Documents/skola/optimization/proj/apartment-optimization/gamsJupyter7.gms
Output     /Users/snc/Documents/skola/optimization/proj/apartment-optimization/gamsJupyter7.lst
Save       /Users/snc/Documents/skola/optimization/proj/apartment-optimization/_gams_py_gcp6.g0?

**** USER ERROR(S) ENCOUNTERED